build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
_deps/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
Testing/
*.meshgeo.tmp
*.zip
*.tar.gz
CMakeUserPresets.json
.vscode/
.idea/
.vs/
.DS_Store
Thumbs.db
__pycache__/
*.pyc
